@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #fa6600;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orange {
  color: var(--primary);
}

.white {
  color: var(--text-color);
}

.uppercase {
  text-transform: uppercase;
}

/* ***Event form*** */
.main-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/moto5.jpg");
  background-position: center;
  background-size: cover;
  
  display: flex;
  justify-content: space-between;

  padding: 30px;
}

.form-container {
  background-color: var(--secondary);
  width: 30%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
  padding: 2rem 1.5rem;
  margin-top: 3rem;
}

.form-container p {
  max-width: 90%;
}

.form-group{
  padding: 5px 0;
}

label {
  color: var(--text-tertiary);
  font-weight: 600;

  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

input, select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  border: none;
}

.button {
  background-color: #fa6600;
  font-weight: 300;

  border: none;
  margin-top: 0.5rem;
  border-radius: 0;
}

.about-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-event .tittle {
  font-size: 3rem;
  margin-bottom: 1rem;

  font-weight: 900;
}

.about-event .subtittle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.about-event p {
  margin-bottom: 0.2rem;
}

.about-event .orange {
  font-weight: 600;
}

/* Second section */

.second-section {
  padding: 2rem 1.5rem;
}

.second-section h1 {
  background-color: #95989a;
  text-align: center;
  padding: 1rem;

  font-weight: 500;
  font-size: 1.5rem;
}

.motorcycles-container {
  display: flex;
  justify-content: space-around;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.group-moto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.motorcycles-container img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
}

/* Local section */

.local-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hd1.jpg");
  background-position: center;
  background-size: cover;

  align-items: center;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.local-section img {
  width: 3rem;
  height: 3.1rem;

  margin-bottom: 0.5rem;
}

.local {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.local p {
  margin-bottom: 0.5rem;
}

.local-section h1 {
  margin-bottom: 1.5rem;
}

.localp {
  margin-bottom: 2rem;
}

/* moto descripition */

.moto-description {
  padding: 2rem 1.5rem;
}

.moto-description img {
  height: 18rem;
  width: auto;
  
}

.moto-container1 img {
  margin-right: 5rem;
}

.moto-container2 {
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.moto-container1 {
  display: flex;
  align-items: center;

  margin-bottom: 1.5;
}

.moto-description p {
  font-size: 1.5rem;
  font-weight: 700;
  width: 50%;
}

.moto-description ul {
  margin-top: 2rem;

  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.final-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/moto6.jpg");
  background-position: center;

  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
}

.final-section input {
  margin-top: 1.5rem;
  width: 25%;
}

/* Footer */

footer {
  background-color:#95989a;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
  padding: 1rem;
}

footer h1 {
  font-size: 1.5rem;
}

footer p {
  font-size: 14px;
}

.moto-description hr {
  display: none;
  
}


@media screen and (max-width:900px) {

  .main-section {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .form-container {
    width: 100%;
  }

  * {
    font-size: 14px;
  }

  .motorcycles-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .group-moto img{
    width: 10rem;
    height: 10rem;
  }

  .moto-container1, .moto-container2 {
    margin-right: 0;
  }

  .moto-container1 {
    display: flex;
    flex-direction: column;
  }

  .moto-description img {
    width: 23rem;
    height: auto;
  }

  .final-section input {
    width: 50%;
  }

  .moto-container1 img {
    display: none;
  }

  .moto-container1 .img-container {
    background-image: url(/img/moto1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20rem;
  }

  .moto-container1 p {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }

  .moto-container2 {
    margin-top: 1rem;
  }

  .moto-description hr{
    display: block;
  }
}